---
import { getCollection } from 'astro:content'
import LayoutPost from '../../layouts/LayoutPost.astro'
import NavFixed from '../../components/NavFixed.astro'
import section from '../../components/Wrapper.astro'
import WrapperPost from '../../components/WrapperPost.astro'
import Logo from '../../components/Logo.astro'
import Footer from '../../components/Footer.astro'
import MarkdownContainer from '../../layouts/MarkdownContainer.astro'
import RootLayout from '../../layouts/RootLayout.astro'
import NavBar from '../../components/NavBar.astro'

export async function getStaticPaths() {
  const data = await getCollection('publicaciones')
  return data.map(post => ({ params: { slug: post.slug }, props: { post } }))
}

/* Solo publicacion */

const { post } = Astro.props
const {
  data: { title, description, tags, shortTitle, heroImage },
  slug,
} = post

const { Content, headings } = await post.render()
---

<LayoutPost shortTitle={shortTitle} description={description} tags={tags}>
  <RootLayout>
    <NavBar />
    <main>
      <section class="max-w-5xl mx-auto px-3">
        <div class="py-10">
          <h1 class="text-4xl text-center font-medium font-roboto_slab mb-6">
            {title}
          </h1>
          <img
            src={heroImage}
            transition:name={slug}
            transition:animate="slide"
            class="aspect-video md:rounded-3xl rounded-xl"
            alt={title}
          />
        </div>
      </section>
      <WrapperPost>
        <section class="p-4 border border-gray-500/20 rounded-2xl my-10">
          <h3 class="text-2xl font-medium font-roboto_slab mb-2">
            Tabla de contenido
          </h3>
          <ul>
            {
              headings.map(heading => (
                <li
                  class="text-base font-inter py-0.5 text-black/70 dark:text-white/70 hover:text-primary-500 hover:underline transition duration-300 cursor-pointer"
                  style={{ marginLeft: `${heading.depth - 1}rem` }}
                >
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              ))
            }
          </ul>
        </section>
        <MarkdownContainer>
          <Content />
        </MarkdownContainer>
      </WrapperPost>
    </main>
  </RootLayout>

  <Footer />
</LayoutPost>
