---
import { getCollection } from 'astro:content'
import NavBar from '../../components/NavBar.astro'
import Wrapper from '../../components/Wrapper.astro'
import Layout from '../../layouts/Layout.astro'
import RootLayout from '../../layouts/RootLayout.astro'
import Footer from '../../components/Footer.astro'
import FormatterDate from '../../components/FormatterDate.astro'

const posts = await getCollection('publicaciones')
---

<Layout>
  <RootLayout>
    <NavBar />
  </RootLayout>
</Layout>
<section class="dark:bg-none">
  <RootLayout>
    <Wrapper>
      <section class="py-10 flex flex-col gap-4">
        {
          posts.map(post => (
            <article class="group">
              <a href={`/blog/${post.slug}`}>
                <div class="h-[350px] md:h-[250px] shadow-3xl shadow-black/5 grid grid-cols-1 grid-rows-[2fr_1fr] md:grid-rows-1 md:grid-cols-[2fr_3fr] lg:grid-cols-[1fr_4fr]">
                  <div class="w-full h-full object-cover rounded-2xl overflow-hidden shadow">
                    <img
                      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 ease-in-out :"
                      src={post.data.heroImage}
                      alt={post.data.title}
                    />
                  </div>
                  <div class="relative">
                    <div class="bg-white h-full dark:bg-black pl-10 flex flex-col gap-2 justify-center">
                      <p class="font-inter text-black/50 dark:text-white/50  group-hover:text-primary-500 transition-colors duration-300  font-semibold uppercase text-sm">
                        <FormatterDate date={post.data.publishDate} />
                      </p>
                      <h3 class="text-4xl font-roboto_slab group-hover:text-primary-500 transition-colors duration-300 font-semibold">
                        {post.data.title}
                      </h3>
                      <p class="font-inter text-black/70 group-hover:text-primary-500 transition-colors duration-300 dark:text-white/70">
                        {post.data.description.slice(0, 200)}...
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          ))
        }
      </section>
    </Wrapper>
    <Footer />
  </RootLayout>
</section>
