---
import Linkedin from '../../assets/icons/linkedin.astro'
import X from '../../assets/icons/x.astro'
import Download from '../../assets/icons/download.astro'
import Wrapper from '../Wrapper.astro'
import DATA from '../../../profile.json'
import Github from '../../assets/icons/github.astro'

const { social } = DATA

const LINKS = [
  {
    name: 'Linkedin',
    href: 'https://www.linkedin.com/in/josepaye/',
    icon: 'linkedin',
  },
  {
    name: 'Descarga CV',
    href: '/pdf/JOSE_ENRIQUE_PAYE_MAMANI.pdf',
    icon: 'download',
  },
]
---

<section
  class="h-[calc(100vh-64px-40px)] dark:bg-gradient-radial-primary bg-linear-gradient-primary rounded-3xl overflow-hidden flex items-center"
>
  <Wrapper>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-white px-4">
      <div class="[grid-row:2] md:[grid-row:1]">
        <div class="flex flex-col justify-start gap-2 md:gap-4">
          <h3
            class="dark:text-white text-primary-900 text-base sm:text-lg md:text-2xl font-medium font-inter md:text-left text-center"
          >
            I'm Jose Paye
          </h3>
          <h1
            class="dark:text-white text-primary-900 text-2xl sm:text-4xl md:text-6xl font-bold font-inter md:text-left text-center"
          >
            Web Developer + Student Aspiring to Machine Learning Engineer
          </h1>
          <p
            class="dark:text-white/70 text-light/70 mt-2 text-sm md:text-lg md:text-left text-center"
          >
            Soy un apasionado por la tecnología, enfocado en el desarrollo web y
            en expandir mis conocimientos hacia la inteligencia artificial. Creo
            soluciones innovadoras que combinan creatividad, diseño y
            funcionalidad.
          </p>
          <div
            class="flex gap-2 mt-2 md:justify-start flex-wrap justify-center"
          >
            <a
              href={LINKS[1].href}
              class="rounded-full flex items-center gap-2 bg-button-light dark:bg-none dark:bg-white text-white dark:text-black font-inter font-medium py-2 px-5 hover:opacity-80 transition duration-300"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Download />
              {LINKS[1].name}
            </a>
            <a
              href={social.linkedin}
              class="rounded-full flex items-center justify-center gap-2 border border-primary-500 dark:border-white/80 text-primary-500 dark:text-white font-inter font-medium size-10"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Linkedin />
            </a>
            <a
              href={social.github}
              class="rounded-full flex items-center justify-center gap-2 border border-primary-500 dark:border-white/80 text-primary-500 dark:text-white font-inter font-medium size-10"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Github />
            </a>
            <a
              href={social.x}
              class="rounded-full flex items-center justify-center gap-2 border border-primary-500 dark:border-white/80 text-primary-500 dark:text-white font-inter font-medium size-10"
              target="_blank"
              rel="noopener noreferrer"
            >
              <X />
            </a>
          </div>
        </div>
      </div>
      <div class="[grid-row:1] md:[grid-row:1]">
        <div class="flex justify-center items-center">
          <picture>
            <source
              srcset="/assets/images/portada-light.png"
              media="(prefers-color-scheme: light)"
            />
            <img
              src="/assets/images/portada.png"
              class="bg-white h-[200px] sm:h-[300px] md:h-[450px] aspect-square rounded-3xl -rotate-3"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
