---
import type { TechTag } from '../types/tag'

const { color, icon, id, name } = Astro.props as TechTag
---

<div
  class={`px-3 py-0.5 text-sm rounded-lg border flex gap-2 items-center text-white cursor-default`}
  style={{
    background: `linear-gradient(135deg, color-mix(in srgb,${color} 40%, transparent), color-mix(in srgb,${color} 10%, transparent))`,
    borderColor: color,
  }}
  title={name}
>
  <img src={icon} class="size-4 aspect-square" alt="name" />
  {name}
</div>
